%table.attributes-table
  %tr
    %th.attribute= kind.capitalize
    %th.count Number of Quotes
    - attributes.each do |attribute, count|
      %tr.attribute-row
        %td.attribute=link_to "/#{kind}/#{attribute}", attribute
        %td.count= count