%ul
  %li
    %input{:type => 'text', :name => 'author', :value => quote.author, :class => 'form-field-no-label'}
  %li
    %input{:type => 'text', :name => 'title', :value => quote.title, :class => 'form-field-no-label'}
  %br
  %li.inner-form
    %label{:for => 'year', :class => 'form-label'} Year:
    %input{:type => 'text', :name => 'year', :value => quote.year, :class => 'form-field'}
  %li.inner-form
    %label{:for => 'publisher', :class => 'form-label'} Publisher:
    %input{:type => 'text', :name => 'publisher', :value => quote.publisher, :class => 'form-field'}
  %li.inner-form
    %label{:for => 'title', :class => 'form-label'} Page Number:
    %input{:type => 'text', :name => 'page_number', :value => quote.page_number, :class => 'form-field'}
  %br.clear
  %li
    %label{:for => 'content', :class => 'form-label'} Content:
    %textarea{:name => 'content', :class => 'form-textarea'}
      =quote.content
  %li
    %label{:for => 'tags', :class => 'form-label'} Tags:
    %input{:type => 'text', :name => 'tags', :value => quote.tags.join(', '), :class => 'form-field-tags'}

  %li
    %label{:for => 'links', :class => 'form-label'} Linked with:
    = render :haml, :display_links, :locals => { :quote => quote }

%input{:type => 'submit', :value => 'Update values', :class => 'button float-right'}