#import-review
  #info-box
    %h2.banner
      Please review the quotes you've just imported
    %ul
      %li
        Check title and author and fix any mistakes.
      %li
        Check that tags are reasonable and add any additional tags.
      %li
        If duplicate quotes have been detected, they will be displayed below.
        You can either add them by clicking the green button,
        or ignore them by clicking the red button.

  - unless import.possible_duplicates.empty?
    .duplicate-quotes-outer-holder
      %h2.duplicate-quotes-warning Possible duplicate quotes:

      - import.possible_duplicates.each do |unsaved, saved|
        .duplicate-box
          .duplicate-quotes-confirmation.hide
            .confirmation-title= truncate_content unsaved
            .cancel.btn.btn-default Cancel
          .duplicate-quotes-holder{data: {quote: quote_to_json(unsaved), path: new_quote_path}}
            .unsaved-quote
              = display_partial quote_partial, :quote => unsaved
            %h4 is awfully close to the following previously added quote:
            .saved-quote
              = display_partial quote_partial, :quote => saved
          .duplicate-quotes-btn-holder
            .remove-duplicate-quote.btn.btn-danger Do not add this quote
            .add-duplicate-quote.btn.btn-success Add this quote

  %h2 Successfully imported quotes:
  = display_partial quotes_template, :quotes => import.added_quotes
