%html
%head
  %link(rel="stylesheet" href='/stylesheets/bootstrap.min.css' type='text/css')
  %link(rel="stylesheet" href='/stylesheets/override.css' type='text/css')
  %meta{:charset => 'utf-8',
              :name => 'viewport',
              :content => 'width=device-width, initial-scale=1'}

  %title Quotes From Underground

%body
  - unless @form_page
    #header
      = render :haml, :header
  #content
    .container
      = render :haml, :messages if messages.any?
      = yield

%script{:src => '/javascript/jquery2.1.1.min.js'}
%script{:src => '/javascript/bootstrap.min.js'}
%script{:src => '/javascript/toggle_star.js'}
%script{:src => '/javascript/toggle_viewable.js'}
%script{:src => '/javascript/user_profile_widgets.js'}
%script{:src => '/javascript/duplicate_quotes.js'}
- if @form_page
  %script{:src => '/javascript/tags_autocompletion.js'}
  %script{:src => '/javascript/tags_suggestions.js'}
  %script{:src => '/javascript/add_new_publication.js'}
