.search
  %form{ :action => '/search', :method => 'post'}
    %img{:src => "/images/search.png", :class => 'search-image' }
    %input{ :type => 'text',
            :name => 'search',
            :value => params[:search],
            :class => 'search-field'}


