%ul.nav.navbar-nav
  %form.navbar-form{:role => 'search',  :action => '/search', :method => 'post'}
    %img{:src => "/images/search.png", :width => '25px' }
    %input{ :type => 'text',
            :name => 'search',
            :value => params[:search],
            :class => 'form-control'}
