%form.form-vertical{ :action => 'new', :method => 'post', :role => 'form'}

  %legend.center-text.col-xs-6.col-md-offset-3 Register

  .form-group.col-xs-6.col-md-offset-3
    %label.control-label{:for => 'nickname'} Nickname
    %input.form-control{:type => 'text', :name => 'nickname'}

  .form-group.col-xs-6.col-md-offset-3
    %label.control-label{:for => 'email'} Email (optional)
    %input.form-control{:type => 'text', :name => 'email'}
    %p.help-block.center
      This email is public and displayed on your profile page so that other users can contact you.
      If you don't want that, don't add an email.

  .form-group.col-xs-6.col-md-offset-3
    %label.control-label{:for => 'password'} Password
    %input.form-control{:type => 'password', :name => 'password'}
    %p.help-block.center We never store your password, so make sure your remember it!

  %button.btn.btn-primary.col-md-offset-4.col-xs-4{:type => 'submit'} Login

  .col-md-offset-4.col-xs-4.center=link_to '/login', 'already have an account?'
